.dropdown{
    margin:30px 0px 0px 20px;
    width:300px;
    height: 50px;
    border:0.5px solid rgb(223, 215, 215);
    border-radius: 5px;
    display: flex;
    align-items: center;

}
input{
    border:none;
    outline: none;
    padding: 10px 5px;
    width: 80%;
    margin-left: 5px;
    border-right:0.5px solid rgb(223, 215, 215); 
    font-size: 16px;
    color: rgb(99, 95, 95);

}

i{
    color:rgb(223, 215, 215);;
    margin-left:13px;
    font-size: 18px;
}
.dropdown_list{
    width:290px;
    margin-left: 21px;
    margin-top: 4px;
    border-radius: 5px;
    transition: display 0.5s;
    overflow-y:auto;
    border: 0.5px solid rgb(223, 215, 215);;
}

ul {
   list-style-type: none; 
   height: fit-content;
padding: 0px 5px;
}

li{
  font-size: 16px;
    width:100%;
    height: 5vh;
    padding-top: 1.5px;
    color:rgb(117, 115, 115);
    text-decoration: underline;
    cursor: pointer;
}

li:hover{
    background-color: aliceblue;
}

span{
    color:rgb(117, 115, 115);
   padding:20px 0px 0px 20px;
}