.colorBoxCustom{
width:500px;
height: 300px;
border:3.5px solid rgb(192, 185, 185);
margin-left:81%;
margin-top: 15%;
border-radius: 3px;
/* background-color: white; */
}
.round{
    background-color: rgb(192, 185, 185) ;
    width: 180px;
    height: fit-content;
    position: absolute;
     padding: 10px 15px;
     border-bottom-right-radius: 18px;
     font-size: 25px;
}
.container{
    height: 100vh;
    background-color: rgb(0, 0, 0);
 
}


.btns{
    height: fit-content;
    width:503.5px;
    position: absolute;
    left:31%;
    top:67%;
    display: flex;
   justify-content: space-between;

}
.colorButton{
    text-transform: uppercase;
    cursor: pointer;
    padding: 25px 50px;
    background-color: rgb(173, 167, 167);
    border: none;
    border-radius: 5px;
}

.displayBlock{
display: block;
}
.displayNone{
    display:none;
}
.result{
background-color: rgb(173, 167, 167);
width:800px;
height: 450px;
margin: auto;
margin-top: 5%;
border-radius: 5px;
position: relative;
}
.wrongPart{
    display: flex;
flex-direction: column;
justify-content:flex-start ;
align-items: center;

}
span{
font-size: 20px;
font-weight: 500;
padding: 10px 10px;
width:22%;
}
.wrong{
    font-size: 40px;
}

.correct{
    margin-top: 15%;
    font-size: 50px;
    margin-bottom:7%;
}
.playAgain{
position: absolute;
right:38%;
bottom:20%;
background-color: rgb(31, 29, 29);
color: white;
border: none;
padding: 10px 40px;
font-size: 20px;
border-radius: 25px;
cursor: pointer;
}
.capetlize{
    text-transform: uppercase;
}