.poster{
   width:45%;
 background-color: antiquewhite;
  margin: auto;
border-radius: 25px;
position: relative;
margin-bottom: 5px;

}
.poster img{
    width:100%;

}
.poster h2{
    font-size: 20px;
    text-align: center;
}

.info{
    background-color:rgba(0,0,0,0.7);
    text-align: center;
    width:100%;
    z-index: 1111;
    height: 50%;
    position: absolute;
    top:50%;
color: white;
overflow: auto;

   
}
.info p{
    width:80%;
    text-align: center;
    font-size: 2.5px;
 margin: auto;
}

.btn{
    z-index: 111111;
    background-color: rgb(27, 194, 27);
    border: 1px solid rgb(170, 165, 165);
    padding: 5px;
    border-radius: 15px;
    color:white;
    position: absolute;
   right: 10%;
   top:80%;
   cursor: pointer;
   
}

h3{
    cursor: pointer;
    text-align: center;
   text-decoration: underline;
    width:45%;
    margin:auto;
    padding: 15px;
    color:black

}

input{
    width: 100%;
    background-color: antiquewhite;
    border: 1px solid rgb(204, 196, 196);
    border-radius: 20px;
    padding: 10px 20px;
    outline: none;
    margin-top: 20px;

}

