.container{
    display: flex;
}


.leftSide{
    width:50%;
}
.rightSide{
    margin-left: auto;

    width: 50%;
    z-index: 1111111111111111111111;

}

.container h2{
    text-align: center;
}

.search {
    margin: auto;
    width:30%;

}
