div{
    width:55%;
    margin-left: 20px;
    margin-top: 60px;
    height: 40vh;
    margin: auto;
    margin-top: 5%;
}
h1{
    text-align: center;
}
.increaseCounter{
    border:1px dashed black
}
button{
 background-color: rgb(63, 182, 182);
 border:none;
 padding: 15px 25px;
 border-radius: 5px;
 margin-left:37%;
 margin-top: 30px;
 cursor: pointer;
}